body{
    background: url(../static/img/background_grey.jpg);
    min-width:380px ;
   
    
}
.page{
    text-align: center;
}
.logo { 
    width: 350px;
}
input{
    width: 40%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
    
}
.gallery{
    margin: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 40px;
}
.card{
    border: none;
    margin-top: 15px;
}
.card-body{
    padding-top: 0px;
    padding-left: 2px;
}
.order, .card-title{
    text-align: start;
}
.order {
    font-weight: bold;
    color: gray;
    margin-bottom: 2px;
}
.contenerTypes{
    display: flex;
    flex-direction: row;
}
.type {
    text-align: start;
    margin-right: 7px;
    padding: 0px 15px ;
    padding-bottom: 3px;
    color: white;
    border-radius: 50px;
    font-size: small;
    
}

.btn{
    width: 100%;
    font-size: 12px;
   
}
 .my-team{
    width: 80%;
    border: 2px solid black;
    border-radius: 40px;
    padding-bottom: 15px;
    background-color: #f1e070;
 }
 .btn-custom {
  width: 10%;
 }

 .team-title{
    margin-bottom: 0;
 }
 @media (max-width:579px) {
    input{
        width: 60%;
    }
    
 }
