body{
    background: url(../static/img/background_grey.jpg);
    min-width:380px ;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
   
    
}
.page{
    text-align: center;
}
.logo { 
    width: 350px;
}
input{
    width: 40%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid;
    
}
.gallery{
    margin: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 10px;
}
.card{
    border: none;
    margin-top: 15px;
}
.card-body{
    padding-top: 0px;
    padding-left: 2px;
}
.order, .card-title{
    text-align: start;
}
.order {
    font-weight: bold;
    color: gray;
    margin-bottom: 2px;
}
.contenerTypes{
    display: flex;
    flex-direction: row;
}
.type {
    text-align: start;
    margin-right: 7px;
    padding: 0px 15px ;
    padding-bottom: 3px;
    color: white;
    border-radius: 50px;
    font-size: small;
    
}

.btn{
    width: 100%;
    font-size: 12px;
   
}
 .my-team{
    width: 80%;
    border: 2px solid black;
    border-radius: 40px;
    padding-bottom: 15px;
    background-color: #f1e070;
 }
 .btn-custom {
  width: 10%;
 }

 .team-title{
    margin-bottom: 0;
 }

 /* style page fiche pokemon */
 
 .fiche-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .btn-back{
   margin-top: 30px;
   text-decoration: none;
   width: 25%;
   color: white;
   padding-bottom: 5px;
 }

 .title {
    margin-bottom: 37px;
 }
.contener-sheet{
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 30px ;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 35px;
   width: 90%;
   border-radius: 30px;
   animation: myAnim 1s ease-in-out 0s 1 normal forwards;
   
}
.contener-card{
    display: flex;
    justify-content: center;
    width: 100%;
    position:relative
}

.contener-img{
    width: 40%;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 5px 2px 20px 9px black;
    display: flex;
    align-items: center;
   
    
}
.contener-img::after {
    content: ' ';
   
   position: absolute;
    left: 58%;
    width: 34%;
    height: 100%;
    opacity: 0.1;
    background-image: url(./img/pokeball.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.contener-img::before{
    /*création d'une séparation oblique entre deux div */
        content: "";
        position: absolute;
        float: left;
        width: 60px;
        height: 100%;
        transform:translateX(-32px) skewX(355deg);
        background-color: inherit;
      
              
}



  
.img-pokemon{
    width: 70%;
    z-index: 1;
    margin-left: 30px;
   
   
  
}
.description {
    background-color: white;
    width: 43%;
    border-radius: 30px 0px 0px 30px;
    padding-left: 30px;
    padding-top: 10px;
    box-shadow: -6px 3px 20px 9px black;
}
.details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

@keyframes myAnim {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}
@media (min-width: 768px) and (max-width: 992px) {
    .img-pokemon{
       width: 75%;
       margin-left: 10px;
    }
}
@media (max-width:579px) {
    input{
        width: 60%;
    }
    
}

@media (min-width: 0px) and (max-width: 767px) {

.contener-card{
    flex-direction: column-reverse;
    align-items: center;
}
.contener-img, .description{
    width: 90%;
    height: 100%;
    box-shadow: 6px 10px 20px 7px black;

}
.contener-img {
    border-radius: 30px 30px 0px 0px;
}
.description{
    border-radius: 0px 0px 30px 30px;

}
    

.contener-img::before{
    display: none;
}
.contener-img::after{
    left: 61%;
    width: 34%;
    background-size: contain;
}
.img-pokemon{
    width: 50%;
}
}